<header class="page-header">
  <h1>About Us</h1>
</header>

<section class="about-us jumbotron">
  <h1>Welcome to <strong>Jungle</strong>! We've got fun and games.</h1>
  <p>We've got (almost) everything you want.</p>
</section>
<article>
</article>