<header class="page-header">
  <h1>About Us</h1>
</header>

<section class="about-us jumbotron">
  <h1>Welcome to <strong>Jungle</strong>! We've got fun and games.</h1>
  <p>We've got (almost) everything you want.</p>
</section>
<article>
  <h3>The Team</h3>
  <p>
    Jungle is made of only the world's best developers. Meet our lead developer 
    <%= link_to 'Joseph Micla', 'https://github.com/JoeMics' %>!
  </p>

  <h3>Our Mission</h3>
  <p>
    Our number one priority is providing you with the highest-quality, organic, and locally-made goods.
    Jungle is committed to promoting local small-businesses. That's right, 100% of profits go right
    to our sellers!
  </p>
</article>