.about-us {
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/triangular.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #eee;
}